In [238]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [239]:
dfx = pd.read_csv('Training Data/Diabetes_XTrain.csv')
dfy = pd.read_csv('Training Data/Diabetes_YTrain.csv')

In [240]:
X = dfx.values
Y = dfy.values

In [241]:
X = dfx.values
Y = Y.reshape((-1,))

In [242]:
def dist(x1,x2):
    return np.sqrt(sum((x1-x2)**2))

In [243]:
def knn(X,Y,q_p,k):
    vals = []
    m = X.shape[0]
    for i in range(m):
        d = dist(q_p,X[i])
        vals.append((d,Y[i]))
    vals = sorted(vals)
    vals = vals[:k]
    vals = np.array(vals)
    new_vals = np.unique(vals[:,1],return_counts = True)
    index = new_vals[1].argmax()
    pred = new_vals[0][index]
    return pred

In [244]:
knn(X,Y,X[500],100)

1.0

In [245]:
X_test = pd.read_csv('Test Cases/Diabetes_Xtest.csv')
X_test = X_test.values

In [246]:
n = X_test.shape[0]
result = []
for i in range(n):
    result.append(knn(X,Y,X_test[i],13))

In [247]:
result = np.array(result)
result = result.astype('int64')

In [248]:
result = pd.Series(result)

In [249]:
result

0      0
1      0
2      0
3      0
4      0
      ..
187    0
188    0
189    1
190    0
191    0
Length: 192, dtype: int64

In [250]:
 result.reset_index

<bound method Series.reset_index of 0      0
1      0
2      0
3      0
4      0
      ..
187    0
188    0
189    1
190    0
191    0
Length: 192, dtype: int64>

In [251]:
df = pd.DataFrame(data= result, columns= ['outcome'])
df

     outcome
0          0
1          0
2          0
3          0
4          0
..       ...
187        0
188        0
189        1
190        0
191        0

[192 rows x 1 columns]

In [252]:
df.to_csv('diabetesdetection.csv',index =False)